<footer>
    <div class="container footer-content">
        <!-- Columna 1: Branding -->
        <div class="footer-col brand-col">
            <a href="/index.html" class="logo footer-logo"><img src="/assets/Logo-Listosoft.png" alt="Listosoft"
                    class="logo-img"></a>
            <p>Impulsando el crecimiento empresarial con tecnología ERP de vanguardia. Gestión inteligente para
                decisiones estratégicas.</p>
            <div class="social-links">
                <a href="https://www.youtube.com/@Listosoft" target="_blank" aria-label="YouTube" class="social-icon"><i
                        class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/listosoft?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank" aria-label="Instagram" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://ec.linkedin.com/company/listosoft" target="_blank" aria-label="LinkedIn"
                    class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.tiktok.com/@listosoft?is_from_webapp=1&sender_device=pc" target="_blank"
                    aria-label="TikTok" class="social-icon"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>

        <!-- Columna 2: Módulos -->
        <div class="footer-col links-col">
            <h4>Soluciones</h4>
            <ul>
                <li><a href="/pages/modulos.html#finanzas">Contabilidad y Finanzas</a></li>
                <li><a href="/pages/modulos.html#gestion-comercial">Facturación Electrónica</a></li>
                <li><a href="/pages/modulos.html#inventarios">Inventarios y Producción</a></li>
                <li><a href="/pages/modulos.html#nomina">Nómina y RRHH</a></li>
            </ul>
        </div>

        <!-- Columna 3: Empresa -->
        <div class="footer-col links-col">
            <h4>Empresa</h4>
            <ul>
                <li><a href="/pages/Sobre-nosotros.html">Sobre Nosotros</a></li>
                <!-- <li><a href="#">Casos de Éxito</a></li> -->
                <li><a href="/pages/Politica-privacidad.html">Política de Privacidad</a></li>
                <!-- <li><a href="#">Términos y Condiciones</a></li> -->
            </ul>
        </div>

        <!-- Columna 4: Contacto -->
        <div class="footer-col contact-col">
            <h4>Contacto</h4>
            <div class="contact-info">
                <p><i class="fa-solid fa-envelope"></i> info@listosoft.com</p>
                <p><i class="fa-solid fa-phone"></i> +593 99-479-4348</p>
                <p><i class="fa-solid fa-location-dot"></i> Guayaquil, Ecuador</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Listosoft S.A. Todos los derechos reservados.</p>
    </div>
</footer>