<header id="navbar">
    <div class="container nav-container">
        <a href="/index.html" class="logo">
            <img src="/assets/Logo-Listosoft.png" alt="Listosoft" class="logo-img logo-dark">
            <img src="/assets/Logo-ListosoftBlanco.png" alt="Listosoft" class="logo-img logo-white">
        </a>
        
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li class="nav-item dropdown">
                    <a href="index.html#soluciones" class="nav-link">Soluciones <span class="dropdown-arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html#soluciones" class="dropdown-link">Contabilidad Avanzada</a></li>
                        <li><a href="index.html#soluciones" class="dropdown-link">Facturación Electrónica</a></li>
                        <li><a href="index.html#soluciones" class="dropdown-link">Inventarios y Logística</a></li>
                        <li><a href="index.html#soluciones" class="dropdown-link">Nómina y RRHH</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="index.html#beneficios" class="nav-link">Beneficios <span class="dropdown-arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html#beneficios" class="dropdown-link">Estabilidad Garantizada</a></li>
                        <li><a href="index.html#beneficios" class="dropdown-link">Seguridad de Datos</a></li>
                        <li><a href="index.html#beneficios" class="dropdown-link">Soporte Especializado</a></li>
                        <li><a href="index.html#beneficios" class="dropdown-link">Escalabilidad</a></li>
                    </ul>
                </li>
                <li><a href="index.html#sistema" class="nav-link">El Sistema</a></li>
                <li><a href="index.html#contacto" class="btn btn-primary nav-cta">Solicitar información</a></li>
            </ul>
        </nav>

        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>



