<header id="navbar">
<base href="/LSoftPage/">
    <div class="container nav-container">
        <a href="/index.html" class="logo">
            <img src="assets/Logo-Listosoft.png" alt="Listosoft" class="logo-img logo-dark">
            <img src="assets/Logo-ListosoftBlanco.png" alt="Listosoft" class="logo-img logo-white">
        </a>
        
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li class="nav-item dropdown">
                    <a href="pages/modulos.html" class="nav-link">Módulos <span class="dropdown-arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pages/modulos.html" class="dropdown-link">Ver Todo</a></li>
                        <li><a href="/pages/modulos.html#gestion-comercial" class="dropdown-link">Gestión Comercial</a></li>
                        <li><a href="/pages/modulos.html#compras" class="dropdown-link">Compras y Proveedores</a></li>
                        <li><a href="/pages/modulos.html#inventarios" class="dropdown-link">Inventarios y Producción</a></li>
                        <li><a href="/pages/modulos.html#finanzas" class="dropdown-link">Finanzas y Contabilidad</a></li>
                        <li><a href="/pages/modulos.html#nomina" class="dropdown-link">Nómina y Tributación</a></li>
                        <li><a href="/pages/modulos.html#analisis" class="dropdown-link">Gestión y Análisis</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a href="/index.html#beneficios" class="nav-link">Beneficios <span class="dropdown-arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/index.html#beneficios" class="dropdown-link">Estabilidad Garantizada</a></li>
                        <li><a href="/index.html#beneficios" class="dropdown-link">Seguridad de Datos</a></li>
                        <li><a href="/index.html#beneficios" class="dropdown-link">Soporte Especializado</a></li>
                        <li><a href="/index.html#beneficios" class="dropdown-link">Escalabilidad</a></li>
                    </ul>
                </li> -->
                <li><a href="/index.html#Clientes" class="nav-link">Clientes</a></li>
                <li><a href="/pages/Sobre-nosotros.html" class="nav-link">Sobre Nosotros</a></li>
                <li><a href="/index.html#contacto" class="btn btn-primary nav-cta">Solicitar información</a></li>
            </ul>
        </nav>

        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>






